
.idea/
/build-resources/
/node_modules/

# To take advantage of the two package build mode for electron-builder (may be able to use other names)
/app/
/dist/
/src/modified/
/src/original/
/build/
/moba-shared/

*.log
/moba-package-backup.json
/package-lock.json
